<mt:include name="dialog/header.tmpl">
<script type="text/javascript">
/* <![CDATA[ */
var field = window.parent.getByID( '<mt:var name="edit_field" escape="js">' );
if (field) field.value = '<mt:var name="asset_id" escape="JS">';
var coverpic = '<mt:var name="coverpic" escape="JS">';
if (coverpic != '') {
    var preview = window.parent.getByID( 'cover-preview-cover' );
    preview.innerHTML = coverpic;
    if (window.parent.DOM.hasClassName( 'remove-cover', 'hidden' ))
        window.parent.toggleHidden( 'remove-cover' );
    if (window.parent.DOM.hasClassName( 'cover-preview', 'hidden' ))
        window.parent.toggleHidden( 'cover-preview' );
}
parent.jQuery.fn.mtDialog.close();
/* ]]> */
</script>
<mt:include name="dialog/footer.tmpl">
